.container-fluid {
  margin: 2em 0;
}

.container {
  margin: auto;
}

.box {
  margin: 2em 4em;
  padding: 2em;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px #888888;
}

.box h3 {
  text-align: center;
}

.box .center {
  margin: auto;
  display:block;
}

.col-sm-4 {
  margin: 0 auto;
}

.navbar-nav {
  flex: display;
  flex-direction:row;
}

@media (min-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .cards-container::after {
    content: "";
    flex: 0 0 48%;
  }

  .card {
    width: 48%;
  }

  .box {
    margin: 2em 8em;
  }

}

@media (min-width: 960px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .cards-container::after {
    content: "";
    flex: 0 0 30%;
  }

  .card {
    width: 30%;
  }

  .box {
    margin: 2em 16em;
  }

}
