<div class="container-fluid">

<div class="cards-container">

<% @posts.each do |post| %>

<div class="card mb-3">

  <div class="card-body">
    <h4 class="card-title"><%= link_to(post.title, post_path(post.id)) %></h4>
    <p class="card-text"><%= post.body %></p>
    <p class="card-text">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
     </div>

</div>

<% end %>

</div>

</div>