@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html * {
    box-sizing: inherit;
    font-family: inherit;
}

main {
    background-image: url("./assets/hogwarts.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 7.5%;
    background-attachment: fixed;
    background-size: 100px;
}

.title {
    font-weight: 800;
    margin: 1em 1.75em;
    width: 50vw;
}

h3 {
    margin: 1em 3em;
}

.reset {
    margin: 0 1.5em;;
}

img {
    width: 300px;
    margin: 1em 3em;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3rem 0.1em;
    width: 50vw;
    align-content: center;
    margin: 1em 3em;
}

button {
    border-radius: 5px;
    width: 1.5em;
    font-size: 2em;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px #888888;
}

.reset {
    width: auto;
    background-color:lightgrey;
}

.guess-first, .guess-last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 3em;
}

.letter-space {
    border-bottom: 3px solid black;
    width: 10%;
    text-align: center;
}

.letter-guess {
    font-size: 2em;  
}

.selected {
    background-color: #888888;
    color: #ffffff;
    box-shadow: 1px 1px #888888;
}

@media (min-width: 768px) {
    .buttons-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        width: 50vw;
    }

    .letter-space {
        width: 5%;
    }

    main {
        background-position-x: 85%;
        background-position-y: 30%;
        background-size: 300px;
    }
}

@media (min-width: 1024px) {
    main {
        background-position-x: 100%;
        background-position-y: 50%;
        background-size: 450px;
    }
}